.menuText {
  position: absolute;
  top: 64px;
  left: 70px;
  background-color: #1E1E1E;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.selectColor {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
}

.colorLabel {
  display: block;
  width: 20px;
  height: 20px;
  margin: 5px;
  border-radius: 50%;
  border: 2px #000000 solid;
}

.checkedColorCheckbox {
  box-shadow: 0px 0px 0px 4px #EBECF0;
}

/* .colorCheckbox {
  width: 0;
  height: 0;
  visibility: hidden;
} */